.vue3-easy-data-table {
  --easy-table-border: inherit;
  --easy-table-header-height: 50px;
  --easy-table-header-font-color: oklch(var(--bc) / 0.6);

  --easy-table-body-row-height: 50px;
}

.vue3-easy-data-table {
  @apply shadow border rounded;
}
.vue3-easy-data-table .vue3-easy-data-table__main {
  @apply rounded-t;
}

.vue3-easy-data-table:not(:has(.vue3-easy-data-table__footer)) > .vue3-easy-data-table__main,
.vue3-easy-data-table > .vue3-easy-data-table__footer {
  @apply rounded-b;
}

.vue3-easy-data-table > .vue3-easy-data-table__main .vue3-easy-data-table__header {
  @apply border-t;
}
